<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1" />
<meta name="theme-color" content="#FFFFFF" />
<meta name="robots" content="index,follow,noimageindex" />

<title>Jia Liang</title>

<meta name="description" content="The personal website of Singapore-based software engineer, Jia Liang" />
<meta
  name="keywords"
  content="Jia Liang, Software Engineer, Web Developer, Personal Website, Portfolio, Resume, Singapore"
/>
<meta name="image" content="${"https://jialiang.github.io/" + require("../image/preview.png")}" />
<meta name="author" content="Jia Liang, hojialiang@yahoo.com" />
<meta name="last-modified" content="${(new Date()).toISOString().split('T')[0]}" />

<link rel="icon" type="image/x-icon" href="${"https://jialiang.github.io/" + require("../favicon.ico")}" />
<link rel="canonical" href="https://jialiang.github.io" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Jia Liang - Software Engineer" />
<meta name="twitter:description" content="The personal website of Singapore-based software engineer, Jia Liang" />
<meta name="twitter:image:src" content="${"https://jialiang.github.io/" + require("../image/preview.png")}" />

<meta name="og:title" content="Jia Liang - Software Engineer" />
<meta name="og:description" content="The personal website of Singapore-based software engineer, Jia Liang" />
<meta name="og:image" content="${"https://jialiang.github.io/" + require("../image/preview.png")}" />
<meta name="og:url" content="https://jialiang.github.io" />
<meta name="og:site_name" content="Jia Liang's Website" />
<meta name="og:type" content="website" />
