<section id="spacegems" class="not-mainmenu">
  <div class="text-container">
    <h1>Space Gems</h1>
    <p>Space Gems is a relaxing tile-matching game reminiscence of simpler times when games of this genre wasn't plagued by micro-transactions and in-app advertisements.</p>
    <br />
    <br />

    <p class="text-center"><a href="space-gems" title="Play Space Gems" target="_blank" rel="noopener">&#9654; Play the game here.</a></p>
    <br />
    <br />

    <p>
      It is made with React, following proper React patterns. However, the
      <a href="https://github.com/facebook/react" title="React on Github" target="_blank" rel="noopener">React</a> and
      <a href="https://github.com/facebook/react/tree/master/packages/react-dom" title="React-DOM on Github" target="_blank" rel="noopener">React-DOM</a> libraries were not used in
      the end product. Instead, they were replaced by <a href="https://github.com/developit/preact" title="Preact on Github" target="_blank" rel="noopener">Preact</a>, a "tiny
      (3kb) implementation of the core value of React". The
      <a href="https://github.com/developit/preact-compat" title="Preact-Compat on Github" target="_blank" rel="noopener">Preact-Compat</a> compatability library was also added so
      that the switch would require absolutely no code changes. All this was done to make the end product as light as possible. As a result, the entire source code of the game now
      weights in at only 27kb gzipped, making it one of the lightest web-based tile-matching game out there. For comparison the React-DOM library alone weights in at a hefty 30kb
      gzipped.
    </p>
    <br />

    <p>
      The beautiful backgrounds featured in the game is courtesy of
      <a href="https://pixabay.com/en/users/daswortgewand-8385/" title="Reimund Bertrams on Pixabay" target="_blank" rel="noopener">Reimund Bertrams</a>, who was kind enough to
      release them under the CC0 license, while the ambient music is produced by
      <a href="https://www.purple-planet.com/using-our-free-music" title="Purple Music's website" target="_blank" rel="noopener">Purple Music</a> and licensed under the Creative
      Commons Attribution License 3.0. Sound effects were provided by
      <a href="https://freesound.org/people/Leszek_Szary/" title="Leszek Szary on Freesound" target="_blank" rel="noopener">Leszek Szary</a> and
      <a href="http://www.fromtexttospeech.com/" title="From Text to Speech" target="_blank" rel="noopener">fromtexttospeech.com</a>.
    </p>
    <br />

    <p>This project is made locally in Singapore with 100% hand-crafted code.</p>
    <br />
    <a class="back" title="Back to Others" href="#work">Back</a>
  </div>
</section>
