<section id="work" class="not-mainmenu">
  <div class="text-container">
    <h1>Work</h1>
    <h2>Space Gems</h2>
    <p>A lightweight tile-matching game done the true React way.</p>
    <a href="#spacegems" title="Space Gems" class="internal-link">More info</a> 
    <br />
    <br />
    <hr class="construction" />
    <br />

    <p>This section is still under construction and more projects will be added soon.</p>
    <br />
    <p>
      In the meantime, why not try out my simple home-made Touhou-style bullet hell shooter below! The objective is simple: avoid getting hit and earn points for every hit you
      land.
    </p>
    <br />
    <p>Get a score of 50,000 or more to unlock a cool CSS art featuring Hatsune Miku.</p>
    <br />
    <p class="unlock">Status: Not Unlocked</p>
    <br />
    <p>TIPS:</p>
    <ul>
      <li>For mouse, click once to take control, click again to stop. For touch, hold and drag.</li>
      <li>Your character's hitbox is represented by the green circle.</li>
      <li>If you are on a small touch-only device, you should really use a stylus.</li>
    </ul>
    <a class="back" title="Back to Mainmenu" href="#">Back</a>
  </div>

  <div id="game" role="application">
    <div id="game-score">Score: 0</div>
    <div id="game-container">
      <div id="game-background"></div>
      <div id="reisen-sprite"></div>
      <div id="heart-container"><div id="heart-stream"></div></div>
      <div id="koishi-sprite"></div>
      <canvas id="touhou"></canvas>
      <div id="game-controls">
        <p></p>
        <button class="play" type="button" title="Starts game">PLAY EASY MODE</button> <button class="audio" type="button" title="Toggles audio on and off">Audio: ON</button>
      </div>
    </div>
    <audio id="game-music" loop preload="auto" src="${require("../music/Subterranean Rose.mp3")}"></audio>
  </div>
</section>
