#intro-animation {
  position: absolute;
  top: 10vh;
  z-index: 9;
  overflow: hidden;
  width: calc(100% - 6vmin);
  height: 85.5vh;
  border-top-left-radius: 3vmin;
  border-top-right-radius: 3vmin;
  box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.25);
  animation: 0s intro-z-index 1s steps(1) both;
}

@keyframes intro-z-index {
  0% {
    z-index: 13;
  }
  100% {
    z-index: 9;
  }
}

#intro-animation > .left,
#intro-animation > .right {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

#intro-animation > .left {
  left: 0;
  background: gold linear-gradient(to bottom, gold 50%, white 50%) calc(100% - 1.25vmin) 0/1.25vmin 2.5vmin repeat-y;
  transform: translate3d(0%, 100%, 0);
  transform-origin: top left;
  animation: 0.5s intro-left-move 0.5s ease both;
}

#intro-animation > .right {
  right: 0;
  background: yellow linear-gradient(to bottom, yellow 50%, black 50%) 1.25vmin 0/1.25vmin 2.5vmin repeat-y;
  transform: translate3d(0%, -100%, 0);
  transform-origin: bottom right;
  animation: 0.5s intro-right-move 0.5s ease both;
}

@keyframes intro-left-move {
  0% {
    transform: translate3d(0, -85.5vh, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50vw, 0, 0);
  }
}

@keyframes intro-right-move {
  0% {
    transform: translate3d(0, 85.5vh, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50vw, 0, 0);
  }
}

.curtain {
  position: absolute;
  z-index: 13;
  background: white;
}

.curtain.left {
  top: 0;
  left: 0;
  width: 50%;
  height: 85.5vh;
  transform: scaleX(0);
  transform-origin: left;
  animation: 0.5s curtain-scale-x 0.9s ease both;
}

.curtain.right {
  top: 0;
  right: 0;
  width: 50%;
  height: 85.5vh;
  transform: scaleX(0);
  transform-origin: right;
  animation: 0.5s curtain-scale-x 0.9s ease both;
}

.curtain.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 42.75vh;
  transform: scaleY(0);
  transform-origin: top;
  animation: 0.5s curtain-scale-y 0.9s ease both;
}

.curtain.bottom {
  top: 42.75vh;
  left: 0;
  width: 100%;
  height: 42.75vh;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 0.5s curtain-scale-y 0.9s ease both;
}

@keyframes curtain-scale-x {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes curtain-scale-y {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
